.contact {
  background-color: #0891b2;
  padding: 1rem 0;
  color: white;
}

.contact .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-img img {
  transform: scale(1.2) translateY(2rem);
}

.contact-text h2 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  text-align: center;
}

.contact-text h3 {
  line-height: 1.5;
  font-size: 1.25rem;
}

.contact-text div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-text span {
  display: block;
}

.contact-text ul {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
.contact-text i {
  font-size: 2.5rem;
  color: white;
}

.contact-text div.contact-text-info div{
    flex-direction: row;
    align-items: center;
}
.contact-text div.contact-text-info i{
    font-size: 1.5rem;
}