@media screen and (min-width: 768px) {
  .header {
    padding: 7rem 0;
  }

  .header .container {
    width: 80%;
    padding: 2rem;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
  }
  .hero-img {
    width: 350px;
    height: 350px;
    display: inline;
    float: left;
    padding-right: 1rem;
    margin: -1rem;
    margin-bottom: 1rem;
  }
  .hero-img img {
    width: 400px;
    height: 450px;
    margin: -2rem;
    margin-top: -6rem;
  }

  .hero-img h1 {
    top: -5rem;
    right: -20rem;
    text-align: right;
    white-space: nowrap;
    color: white;
  }
  .hero-menu {
    display: none;
  }

  .contact {
    padding: 2rem 0;
  }

  .contact .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .contact-text {
    flex-basis: 50%;
  }

  .contact-img {
    flex-basis: 50%;
  }
  .contact-img img {
    transform: initial;
  }
  .contact-text ul {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 4rem 0;
  }
  .header .container {
    max-width: 800px;
  }
  .hero-img h1 {
    max-width: 200px;
    top: -2rem;
    left: -1rem;
    text-align: left;
    white-space: wrap;
    color: #222;
  }
  .hero-img img {
    width: 600px;
    height: 500px;
    margin-top: -2rem;
  }
  .hero-menu {
    display: block;
  }
  .header h2 {
    text-align: left;
  }

  .hero-menu ul {
    justify-content: flex-end;
  }
  .contact-text {
    flex-basis: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .header::before {
    height: 60vh;
  }
  .work-grid {
    max-width: 1024px;
    margin: 0 auto;
  }
}
