*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  color: #222;
  min-height: 100vh;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}

main{
  position: relative;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

p{
  line-height: 2;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}