.work h2 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-bottom: 1rem;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem 1rem;
}

.work-item {
  background-color: white;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}

.work-img {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0891b2;
  color: white;
}

.work-info {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-info h3 {
  font-size: 1.5rem;
}

.work-links {
  position: absolute;
  right: 1rem;
  display: flex;
  gap: .5rem;
}

.work-links i {
  color: #0891b2;
  font-size: 1.5rem;
}
